<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyc.oper.nobid.mapper.ExpertExtractResultMapper" >
  <resultMap id="BaseResultMap" type="com.yyc.oper.nobid.expert.ExpertExtractResultBean" >
    <result column="extract_id" property="extractId" jdbcType="VARCHAR" />
    <result column="expert_win_id" property="expertWinId" jdbcType="VARCHAR" />
    <result column="ope_date" property="opeDate" jdbcType="TIMESTAMP" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="ope_by" property="opeBy" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="purchase_schme_id" property="purchaseSchmeId" jdbcType="VARCHAR" />
    <result column="purchase_schme_name" property="purchaseSchmeName" jdbcType="VARCHAR" />
    <result column="purchase_schme_create_time" property="purchaseSchmeCreateTime" jdbcType="TIMESTAMP" />
    <result column="del" property="del" jdbcType="VARCHAR" />
    <result column="ope_way" property="opeWay" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="technical_expert_num" property="technologyExpertNumber" jdbcType="INTEGER" />
    <result column="business_expert_num" property="businessExpertNumber" jdbcType="INTEGER" />
    <association property="matplanBean" javaType="com.yyc.oper.nobid.mat.MatplanBean">   
      <id column="matplan_id" property="matplanId" jdbcType="VARCHAR" />
      <result column="serial_num" property="serialNum" jdbcType="VARCHAR" />
      <result column="batch_num" property="batchNum" jdbcType="VARCHAR" />
      <result column="demand_company" property="demandCompany" jdbcType="VARCHAR" />
      <result column="purchase_num" property="purchaseNum" jdbcType="VARCHAR" />
      <result column="fund_source" property="fundSource" jdbcType="VARCHAR" />
      <result column="approval_num" property="approvalNum" jdbcType="VARCHAR" />
      <result column="project_name" property="projectName" jdbcType="VARCHAR" />
      <result column="project_num" property="projectNum" jdbcType="VARCHAR" />
      <result column="mat_id" property="matId" jdbcType="VARCHAR" />
      <result column="demand_mat" property="demandMat" jdbcType="VARCHAR" />
      <result column="mat_num" property="matNum" jdbcType="VARCHAR" />
      <result column="mat_unit" property="matUnit" jdbcType="VARCHAR" />
      <result column="estimate_unit_price" property="estimateUnitPrice" jdbcType="VARCHAR" />
      <result column="estimate_total_price" property="estimateTotalPrice" jdbcType="VARCHAR" />
      <result column="purchase_way" property="purchaseWay" jdbcType="VARCHAR" />
      <result column="delivery_time" property="deliveryTime" jdbcType="VARCHAR" />
      <result column="delivery_place" property="deliveryPlace" jdbcType="VARCHAR" />
      <result column="person_liable" property="personLiable" jdbcType="VARCHAR" />
      <result column="phone_num" property="phoneNum" jdbcType="VARCHAR" />
      <result column="state" property="state" jdbcType="VARCHAR" />
      <result column="remark" property="remark" jdbcType="VARCHAR" />
      <result column="merge_id" property="mergeId" jdbcType="VARCHAR" />
      <result column="is_merge" property="isMerge" jdbcType="VARCHAR" />
      <result column="create_by" property="createBy" jdbcType="VARCHAR" />
      <result column="create_time" property="createTime" jdbcType="VARCHAR" />
      <result column="ope_by" property="opeBy" jdbcType="VARCHAR" />
      <result column="ope_time" property="opeTime" jdbcType="VARCHAR" />
      <result column="del" property="del" jdbcType="VARCHAR" />
      <association property="mergeRecordBean" javaType="com.yyc.oper.nobid.merge.MergeRecordBean">   
        <id column="merge_id" property="mergeId" jdbcType="VARCHAR" />
        <result column="bag_num" property="bagNum" jdbcType="VARCHAR" />
        <result column="qualification" property="qualification" jdbcType="VARCHAR" />
        <result column="del" property="del" jdbcType="VARCHAR" />
      </association>
    </association>
    <association property="batchmanageBean" javaType="com.yyc.oper.nobid.batch.BatchmanageBean">   
      <id column="batch_id" property="batchId" jdbcType="VARCHAR" />
      <result column="batch_num" property="batchNum" jdbcType="VARCHAR" />
      <result column="batch_name" property="batchName" jdbcType="VARCHAR" />
      <result column="begin_time" property="beginTime" jdbcType="VARCHAR" />
      <result column="end_time" property="endTime" jdbcType="VARCHAR" />
      <result column="create_by" property="createBy" jdbcType="VARCHAR" />
      <result column="create_time" property="createTime" jdbcType="VARCHAR" />
      <result column="oper_by" property="operBy" jdbcType="VARCHAR" />
      <result column="oper_time" property="operTime" jdbcType="VARCHAR" />
      <result column="state" property="state" jdbcType="VARCHAR" />
      <result column="del" property="del" jdbcType="VARCHAR" />
    </association>
    <collection property="listExpertExtractResultDetailBean" ofType="com.yyc.oper.nobid.expert.ExpertExtractResultDetailBean"> 
      <id column="id" property="id" jdbcType="VARCHAR" />
      <result column="extract_id" property="extractId" jdbcType="VARCHAR" />
      <result column="expert_code" property="expertCode" jdbcType="VARCHAR" />
      <result column="ope_date" property="opeDate" jdbcType="VARCHAR" />
      <result column="create_date" property="createDate" jdbcType="VARCHAR" />
      <result column="create_by" property="createBy" jdbcType="VARCHAR" />
      <result column="ope_by" property="opeBy" jdbcType="VARCHAR" />
      <result column="state" property="state" jdbcType="VARCHAR" />
      <result column="expert_name" property="expertName" jdbcType="VARCHAR" />
      <result column="major_name" property="majorName" jdbcType="VARCHAR" />
      <result column="major_id" property="majorId" jdbcType="VARCHAR" />
      <association property="expertBean" javaType="com.yyc.oper.nobid.expert.ExpertBean">   
        <id column="expert_code" property="expertCode" jdbcType="VARCHAR" />
        <result column="expert_name" property="expertName" jdbcType="VARCHAR" />
        <result column="expert_id" property="expertId" jdbcType="VARCHAR" />
        <result column="expert_sex" property="expertSex" jdbcType="VARCHAR" />
        <result column="expert_mb_num" property="expertMbNum" jdbcType="VARCHAR" />
        <result column="expert_tel_num" property="expertTelNum" jdbcType="VARCHAR" />
        <result column="expert_mail" property="expertMail" jdbcType="VARCHAR" />
        <result column="declaration_dep" property="declarationDep" jdbcType="VARCHAR" />
        <result column="graduate_from" property="graduateFrom" jdbcType="VARCHAR" />
        <result column="work_dep" property="workDep" jdbcType="VARCHAR" />
        <result column="work_position" property="workPosition" jdbcType="VARCHAR" />
        <result column="position_kind" property="positionKind" jdbcType="VARCHAR" />
        <result column="start_work_time" property="startWorkTime" jdbcType="VARCHAR" />
        <result column="del" property="del" jdbcType="VARCHAR" />
        <result column="major_qualification_name" property="majorQualificationName" jdbcType="VARCHAR" />
        <result column="state" property="state" jdbcType="VARCHAR" />
      </association>
    </collection>
  </resultMap>
  <resultMap id="BaseResultMap1" type="HashMap" >
    <id column="extract_id" property="extractId" jdbcType="VARCHAR" />
    <result column="matplan_batch_num" property="matplanBatchNum" jdbcType="VARCHAR" />
	<result column="matplan_batch_name" property="matplanBatchName" jdbcType="VARCHAR" />
	<result column="nonMatplan_batch_num" property="nonMatplanBatchNum" jdbcType="VARCHAR" />
	<result column="nonMatplan_batch_name" property="nonMatplanBatchName" jdbcType="VARCHAR" />
	<result column="ope_by" property="opeBy" jdbcType="VARCHAR" />
	<result column="ope_date" property="opeDate" jdbcType="TIMESTAMP" />
	<result column="ope_way" property="opeWay" jdbcType="VARCHAR" />
	<result column="expert_code" property="expertCode" jdbcType="VARCHAR" />
	<result column="expert_name" property="expertName" jdbcType="VARCHAR" />
	<result column="major_qualification_name" property="majorQualificationName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseResultMap2" type="com.yyc.oper.nobid.expert.ExpertBean" >
    <id column="expert_code" property="expertCode" jdbcType="VARCHAR" />
    <result column="expert_name" property="expertName" jdbcType="VARCHAR" />
	<result column="expert_sex" property="expertSex" jdbcType="VARCHAR" />
	<result column="major_name" property="majorQualificationName" jdbcType="VARCHAR" />
	<result column="work_unit" property="workUnit" jdbcType="VARCHAR" />
	<result column="expert_mb_num" property="expertMbNum" jdbcType="VARCHAR" />
	<result column="expert_tel_num" property="expertTelNum" jdbcType="TIMESTAMP" />
	<result column="expert_mail" property="expertMail" jdbcType="VARCHAR" />
	<result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    a.extract_id, a.expert_win_id, a.ope_date, a.create_date, a.create_by, a.ope_by, a.state, a.purchase_schme_id, 
    a.purchase_schme_name, a.purchase_schme_create_time, a.del
  </sql>
  <sql id="Base_Column_List1" >
    d2.matplan_id, d2.serial_num, d2.batch_num, d2.demand_company, d2.purchase_num, d2.fund_source, d2.approval_num, 
    d2.project_name, d2.project_num, d2.mat_id, d2.demand_mat, d2.mat_num, d2.mat_unit, d2.estimate_unit_price, 
    d2.estimate_total_price, d2.purchase_way, d2.delivery_time, d2.delivery_place, 
    d2.person_liable, d2.phone_num, d2.state, d2.remark, d2.merge_id, d2.is_merge, d2.create_by, d2.create_time, 
    d2.ope_by, d2.ope_time, d2.del
  </sql>
  <sql id="Base_Column_List2" >
    e1.id, e1.extract_id, e1.expert_code, e1.ope_date, e1.create_date, e1.create_by, e1.ope_by, e1.state, e1.expert_name, 
    e1.major_name, e1.major_id
  </sql>
  <sql id="Base_Column_List3" >
    e2.expert_code, e2.expert_name, e2.expert_id, e2.expert_sex, e2.expert_mb_num, e2.expert_tel_num, e2.expert_mail, 
    e2.declaration_dep, e2.graduate_from, e2.work_dep, e2.work_position, e2.position_kind, e2.start_work_time, 
    e2.del, e2.major_qualification_name, e2.state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />,
    <include refid="Base_Column_List1" />,
    <include refid="Base_Column_List2" />,
    <include refid="Base_Column_List3" />,
    d21.*
    from nonbid_expert_extract_result a
left join nonbid_supplier_extract_result b1 on b1.purchase_schme_id = a.purchase_schme_id and (b1.del != 1 or b1.del is null)
left join nonbid_merge_record b2 on b2.merge_id = b1.merge_id and (b2.del != 1 or b2.del is null)
left join nonbid_matplan d2 on d2.merge_id = b2.merge_id and (d2.del != 1 or d2.del is null)
left join nonbid_batchmanage d21 on d21.batch_num = d2.batch_num and (d21.del != 1 or d21.del is null)
left join nonbid_expert_extract_result_detail e1 on e1.extract_id = a.extract_id
left join mm_nonbid_expert e2 on e2.expert_code = e1.expert_code and (e2.del != 1 or e2.del is null)
    <where>
      <if test="1 == 1">
	    and (a.del != 1 or a.del is null)
	  </if>
	  <if test="batchmanageBean != null">
	    <if test="batchmanageBean.batchNum != null and batchmanageBean.batchNum != ''">
	      and d21.batch_num = #{batchNum}
	    </if>
	    <if test="batchmanageBean.batchName != null and batchmanageBean.batchName != ''">
	      and d21.batch_name = #{batchName}
	    </if>
	  </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from nonbid_expert_extract_result
    where extract_id = #{extractId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yyc.oper.nobid.expert.ExpertExtractResultBean" >
    insert into nonbid_expert_extract_result (extract_id, expert_win_id, ope_date, 
      create_date, create_by, ope_by, 
      state, purchase_schme_id, purchase_schme_name, 
      purchase_schme_create_time, del)
    values (#{extractId,jdbcType=VARCHAR}, #{expertWinId,jdbcType=VARCHAR}, #{opeDate,jdbcType=TIMESTAMP}, 
      #{createDate,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{opeBy,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{purchaseSchmeId,jdbcType=VARCHAR}, #{purchaseSchmeName,jdbcType=VARCHAR}, 
      #{purchaseSchmeCreateTime,jdbcType=TIMESTAMP}, #{del,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yyc.oper.nobid.expert.ExpertExtractResultBean" >
    insert into nonbid_expert_extract_result
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="extractId != null">
        extract_id,
      </if>
      <if test="expertWinId != null">
        expert_win_id,
      </if>
      <if test="opeDate != null">
        ope_date,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="opeBy != null">
        ope_by,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="purchaseSchmeId != null">
        purchase_schme_id,
      </if>
      <if test="purchaseSchmeName != null">
        purchase_schme_name,
      </if>
      <if test="purchaseSchmeCreateTime != null">
        purchase_schme_create_time,
      </if>
      <if test="del != null">
        del,
      </if>
      <if test="opeWay != null">
        ope_way,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="technologyExpertNumber != null">
        technical_expert_num,
      </if>
      <if test="businessExpertNumber != null">
        business_expert_num,
      </if>
      <if test="mergeId != null">
        merge_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="extractId != null">
        #{extractId,jdbcType=VARCHAR},
      </if>
      <if test="expertWinId != null">
        #{expertWinId,jdbcType=VARCHAR},
      </if>
      <if test="opeDate != null">
        #{opeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="opeBy != null">
        #{opeBy,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="purchaseSchmeId != null">
        #{purchaseSchmeId,jdbcType=VARCHAR},
      </if>
      <if test="purchaseSchmeName != null">
        #{purchaseSchmeName,jdbcType=VARCHAR},
      </if>
      <if test="purchaseSchmeCreateTime != null">
        #{purchaseSchmeCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="del != null">
        #{del,jdbcType=VARCHAR},
      </if>
      <if test="opeWay != null">
        #{opeWay,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="technologyExpertNumber != null">
        #{technologyExpertNumber,jdbcType=INTEGER},
      </if>
      <if test="businessExpertNumber != null">
        #{businessExpertNumber,jdbcType=INTEGER},
      </if>
      <if test="mergeId != null">
        #{mergeId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yyc.oper.nobid.expert.ExpertExtractResultBean" >
    update nonbid_expert_extract_result
    <set>
      <if test="expertWinId != null">
        expert_win_id = #{expertWinId,jdbcType=VARCHAR},
      </if>
      <if test="opeDate != null">
        ope_date = #{opeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="opeBy != null">
        ope_by = #{opeBy,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="purchaseSchmeId != null">
        purchase_schme_id = #{purchaseSchmeId,jdbcType=VARCHAR},
      </if>
      <if test="purchaseSchmeName != null">
        purchase_schme_name = #{purchaseSchmeName,jdbcType=VARCHAR},
      </if>
      <if test="purchaseSchmeCreateTime != null">
        purchase_schme_create_time = #{purchaseSchmeCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="del != null">
        del = #{del,jdbcType=VARCHAR},
      </if>
      <if test="opeWay != null">
        ope_way = #{opeWay,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="technologyExpertNumber != null">
        technical_expert_num = #{technologyExpertNumber,jdbcType=INTEGER},
      </if>
      <if test="businessExpertNumber != null">
        business_expert_num = #{businessExpertNumber,jdbcType=INTEGER},
      </if>
      <if test="mergeId != null">
        merge_id = #{mergeId,jdbcType=VARCHAR},
      </if>
    </set>
    where extract_id = #{extractId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yyc.oper.nobid.expert.ExpertExtractResultBean" >
    update nonbid_expert_extract_result
    set expert_win_id = #{expertWinId,jdbcType=VARCHAR},
      ope_date = #{opeDate,jdbcType=TIMESTAMP},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      ope_by = #{opeBy,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      purchase_schme_id = #{purchaseSchmeId,jdbcType=VARCHAR},
      purchase_schme_name = #{purchaseSchmeName,jdbcType=VARCHAR},
      purchase_schme_create_time = #{purchaseSchmeCreateTime,jdbcType=TIMESTAMP},
      del = #{del,jdbcType=VARCHAR},
      ope_way = #{opeWay,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      technical_expert_num = #{technologyExpertNumber,jdbcType=INTEGER},
      business_expert_num = #{businessExpertNumber,jdbcType=INTEGER},
      merge_id = #{mergeId,jdbcType=VARCHAR}
    where extract_id = #{extractId,jdbcType=VARCHAR}
  </update>
  <select id="getExpertExtractResultList" resultType="java.util.Map" >
    select 
a.extract_id, d11.batch_num nonMatplan_batch_num, d21.batch_num matplan_batch_num, d11.batch_name nonMatplan_batch_name, d21.batch_name matplan_batch_name, 
a.ope_by, a.ope_date, 
case WHEN a.ope_way = '1' then '手动'
WHEN a.ope_way = '2' then '随机' end ope_way, e.expert_code, e.expert_name, e.major_qualification_name
from nonbid_expert_extract_result a
left join nonbid_supplier_extract_result b1 on b1.purchase_schme_id = a.purchase_schme_id and (b1.del != 1 or b1.del is null)
left join nonbid_merge_record b2 on b2.merge_id = b1.merge_id 
left join nonbid_non_matplan d1 on d1.merge_id = b2.merge_id and (d1.del != 1 or d1.del is null)
left join nonbid_batchmanage d11 on d11.batch_num = d1.batch_num and (d11.del != 1 or d11.del is null)
left join nonbid_matplan d2 on d2.merge_id = b2.merge_id and (d2.del != 1 or d2.del is null)
left join nonbid_batchmanage d21 on d21.batch_num = d2.batch_num and (d21.del != 1 or d21.del is null)
left join mm_nonbid_expert e on e.expert_code = a.expert_win_id and (e.del != 1 or e.del is null)
    <where>
      <if test="1 == 1">
	    and (a.del != 1 or a.del is null)
	  </if>
	  <if test="extractId != null and extractId != ''">
	    and a.extract_id = #{extractId} 
	  </if>
	</where>
	group by a.extract_id
  </select>
  <select id="selectExpertListByMergerId" resultMap="BaseResultMap2" parameterType="java.lang.String" >
    select b1.expert_code, b1.expert_name, b1.expert_sex, b3.major_name, b1.work_unit, b1.expert_mb_num, b1.expert_tel_num, b1.expert_mail, b1.remark 
    from nonbid_merge_record a1
	LEFT JOIN nonbid_expert_extract_result a2 ON a2.merge_id = a1.merge_id
	LEFT JOIN nonbid_expert_extract_result_detail a3 ON a3.extract_id = a2.extract_id
	LEFT JOIN mm_nonbid_expert b1 ON b1.expert_code = a3.expert_code
	LEFT JOIN mm_nonbid_expert_major b2 ON b2.expert_code = b1.expert_code
	LEFT JOIN mm_nonbid_major b3 ON b3.major_id = b2.major_id
    <where>
      <if test="mergerId != null and mergerId != ''">
	    and a1.merge_id = #{mergerId}
	  </if>
    </where>
  </select>
</mapper>