<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyc.oper.nobid.mapper.QuestionLinkMapper">
  <resultMap id="BaseResultMap" type="com.yyc.oper.nobid.qualification.QuestionLinkBean">
    <id column="question_link_id" jdbcType="VARCHAR" property="questionLinkId" />
    <result column="question_link_name" jdbcType="VARCHAR" property="questionLinkName" />
    <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
    <result column="states" jdbcType="VARCHAR" property="states" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="ope_by" jdbcType="VARCHAR" property="opeBy" />
    <result column="ope_time" jdbcType="TIMESTAMP" property="opeTime" />
    <result column="del" jdbcType="VARCHAR" property="del" />
  </resultMap>
  <sql id="Base_Column_List">
    question_link_id, question_link_name, order_num, states, create_by, create_time, 
    ope_by, ope_time, del
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from nonbid_supplier_eval_question_link
    where question_link_id = #{questionLinkId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from nonbid_supplier_eval_question_link
    where question_link_id = #{questionLinkId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yyc.oper.nobid.qualification.QuestionLinkBean">
    insert into nonbid_supplier_eval_question_link (question_link_id, question_link_name, 
      order_num, states, create_by, ope_by, ope_time)
    values (#{questionLinkId,jdbcType=VARCHAR}, #{questionLinkName,jdbcType=VARCHAR}, 
      #{orderNum,jdbcType=VARCHAR}, #{states,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{opeBy,jdbcType=VARCHAR}, #{opeTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yyc.oper.nobid.qualification.QuestionLinkBean">
    insert into nonbid_supplier_eval_question_link
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="questionLinkId != null">
        question_link_id,
      </if>
      <if test="questionLinkName != null">
        question_link_name,
      </if>
      <if test="orderNum != null">
        order_num,
      </if>
      <if test="states != null">
        states,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="opeBy != null">
        ope_by,
      </if>
      <if test="opeTime != null">
        ope_time,
      </if>
      <if test="del != null">
        del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="questionLinkId != null">
        #{questionLinkId,jdbcType=VARCHAR},
      </if>
      <if test="questionLinkName != null">
        #{questionLinkName,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null">
        #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="states != null">
        #{states,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="opeBy != null">
        #{opeBy,jdbcType=VARCHAR},
      </if>
      <if test="opeTime != null">
        #{opeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="del != null">
        #{del,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yyc.oper.nobid.qualification.QuestionLinkBean">
    update nonbid_supplier_eval_question_link
    <set>
      <if test="questionLinkName != null and questionLinkName != ''">
        question_link_name = #{questionLinkName,jdbcType=VARCHAR},
      </if>
      <if test="orderNum != null and orderNum != ''">
        order_num = #{orderNum,jdbcType=VARCHAR},
      </if>
      <if test="states != null and states != ''">
        states = #{states,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null and createBy != ''">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="opeBy != null and opeBy != ''">
        ope_by = #{opeBy,jdbcType=VARCHAR},
      </if>
      <if test="opeTime != null">
        ope_time = #{opeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="del != null and del != ''">
        del = #{del,jdbcType=VARCHAR},
      </if>
    </set>
    where question_link_id = #{questionLinkId,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.yyc.oper.nobid.qualification.QuestionLinkBean">
    update nonbid_supplier_eval_question_link
    set question_link_name = #{questionLinkName,jdbcType=VARCHAR},
      order_num = #{orderNum,jdbcType=VARCHAR},
      states = #{states,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      ope_by = #{opeBy,jdbcType=VARCHAR},
      ope_time = #{opeTime,jdbcType=TIMESTAMP},
      del = #{del,jdbcType=VARCHAR}
    where question_link_id = #{questionLinkId,jdbcType=VARCHAR}
  </update>
  
   <select id="selectQuestionMaps"  resultType="java.util.Map">
  	select question_link_id questionLinkId, 
  	question_link_name questionLinkName
  	 from nonbid_supplier_eval_question_link where del = '0'
  </select>
  
  <select id="selectQuestionByName" parameterType="java.lang.String" resultType="java.lang.Integer">
  	select count(*) from nonbid_supplier_eval_question_link where question_link_name = #{questionLinkName} and del = '0'
  </select>
  
  <update id="deleteQuestion" parameterType="java.lang.String">
  	update nonbid_supplier_eval_question_link set del = '1' where question_link_id = #{questionLinkId,jdbcType=VARCHAR}
  </update>
</mapper>